# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import Google_API_KEY

In [2]:
# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
#vacation_df = # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Vaini,TO,77.16,scattered clouds,-21.20,-175.20,Keleti Beach Resort
1,11,Kavaratti,IN,80.33,overcast clouds,10.57,72.64,Green leaf
2,13,Hilo,US,81.25,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
3,15,Atuona,PF,77.13,few clouds,-9.80,-139.03,Villa Enata
4,17,Puerto Carreno,CO,93.18,scattered clouds,6.19,-67.49,Casa Hotel Victoria

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
start_city = "Ixtapa"
end_city = "Ixtapa"
city1 = "Lazaro Cardenas"
city2 = "Acapulco"
city3 = "Puerto Escondido"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [17]:
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
176,680,Puerto Escondido,MX,90.43,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [24]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
start, end, stop1, stop2, stop3

((20.7, -105.2),
 (20.7, -105.2),
 (17.96, -102.2),
 (16.86, -99.89),
 (15.85, -97.07))

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [27]:
# Define a new figure object
#fig = # YOUR CODE HERE

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
#vacation_itinerary = # YOUR CODE HERE

# Add the layer to the map
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig
#jupyter nbextension enable --py --sys-prefix widgetsnbextension

#fig = gmaps.figure()
#geneva2zurich = gmaps.directions_layer(geneva, zurich)
#fig.add_layer(geneva2zurich)
##fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [28]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,591,Ixtapa,MX,79.83,overcast clouds,20.70,-105.20,hotel la terminal
1,364,Lazaro Cardenas,MX,83.55,overcast clouds,17.96,-102.20,HOTEL QUINTA ANTIGUA
2,365,Acapulco,MX,85.82,clear sky,16.86,-99.89,HS Hotsson Smart Acapulco
3,680,Puerto Escondido,MX,90.43,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [32]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
# Add a marker layer for each city to the map.
#marker_layer = # YOUR CODE HERE

# Define a new figure object
#fig = # YOUR CODE HERE

# Add the layer to the map
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))